@font-face {
    font-family: 'Familiada';
    src: url('Familiada.woff2') format('woff2'),
        url('Familiada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

